<app-navbar></app-navbar>
<div class="contenedor">
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3 " *ngIf="authority === 'admin'">
            <div class="card" style="text-align: center;">
                <a [routerLink]="['/profesor']">
                    <div class="card-header">
                        <fa-icon [icon]="faPersonChalkboard" class="fa-4x"></fa-icon>
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">Gestionar Profesores</h5>
                    <p class="card-text">Agregar, listar y modificar los profesores.</p>
                    <a [routerLink]="['/profesor']" class="btn btn-primary">
                        <fa-icon [icon]="faPersonChalkboard"></fa-icon> Profesores</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3" *ngIf="authority !== 'estudiante'">
            <div class="card" style="text-align: center;">
                <a [routerLink]="['/estudiante']">
                    <div class="card-header">
                        <fa-icon [icon]="faGraduationCap" class="fa-4x"></fa-icon>
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">Gestionar Estudiantes</h5>
                    <p class="card-text">Agregar, listar y modificar los estudiantes.</p>
                    <a [routerLink]="['/estudiante']" class="btn btn-primary">
                        <fa-icon [icon]="faGraduationCap"></fa-icon> Estudiantes</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="card" style="text-align: center;">
                <a [routerLink]="['/nota']">
                    <div class="card-header">
                        <fa-icon [icon]="faNoteSticky" class="fa-4x"></fa-icon>
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">Gestionar Notas</h5>
                    <p class="card-text">Agregar, listar y modificar las notas.</p>
                    <a [routerLink]="['/nota']" class="btn btn-primary">
                        <fa-icon [icon]="faNoteSticky"></fa-icon> Notas</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3" *ngIf="authority === 'admin'">
            <div class="card" style="text-align: center;">
                <a [routerLink]="['/asignatura']">
                    <div class="card-header">
                        <fa-icon [icon]="faBook" class="fa-4x"></fa-icon>
                    </div>
                </a>
                <div class="card-body">
                    <h5 class="card-title">Gestionar Asignaturas</h5>
                    <p class="card-text">Crear, listar y modificar asignaturas.</p>
                    <a [routerLink]="['/asignatura']" class="btn btn-primary">
                        <fa-icon [icon]="faBook"></fa-icon> Asignaturas</a>
                </div>
            </div>
        </div>
    </div>
</div>