<app-navbar></app-navbar>
<div class="contenedor">

    <ngx-loading [show]="cargando"
        [config]="{ backdropBorderRadius: '3px', primaryColour: '#00ff66', secondaryColour: '#ff6600', tertiaryColour: '#6600ff', fullScreenBackdrop: true }">
    </ngx-loading>

    <div class="card">
        <div class="card-header">
            <h5>Busqueda Avanzada</h5>
        </div>
        <div class="card-body">
            <form class="form-group" [formGroup]="filtrarForm" class="was-validated">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" formControlName="nombre" [pattern]="regNombre"
                            placeholder="Ingrese el nombre a buscar">
                        <div class="invalid-feedback">Por favor verifique el nombre</div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <label>Apellido:</label>
                        <input type="text" class="form-control" formControlName="apellido" [pattern]="regNombre"
                            placeholder="Ingrese el apellido a buscar">
                        <div class="invalid-feedback">Por favor verifique el apellido</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-s-12 col-lg-6">
                        <button class="btn btn-primary" (click)="filtrar()" [disabled]="!filtrarForm.valid">
                            <fa-icon [icon]="faMagnifyingGlass"></fa-icon> Buscar</button>
                        &nbsp;
                        <button class="btn btn-secondary" (click)="limpiar()"><fa-icon [icon]="faEraser"></fa-icon>
                            Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Tabla del listado -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <h5 class="card-title">Lista de estudiantes</h5>
                </div>
                <div class="col-8">
                    <button type="button" class="btn btn-primary" (click)="open(content)" style="float: right;">
                        <fa-icon [icon]="faUserPlus"></fa-icon>&nbsp;Agregar Estudiante</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-responsive" style="overflow-x: scroll;">
                <caption>Lista de estudiantes</caption>
                <thead class="thead-col">
                    <tr>
                        <th scope="col" style="max-width: 40px;" hidden>Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Funciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiante of listaEstudiante">
                        <td>{{ estudiante.nombre }} {{ estudiante.apellido}}</td>
                        <td>{{ estudiante.correo }}</td>
                        <td>{{ estudiante.contrasenia }}</td>
                        <td>
                            <button type="button" class="btn btn-info" [hidden]="estudiante.notas.length == 0"
                                (click)="mostrarNotas(estudiante)" style="width: fit-content;">
                                <fa-icon [icon]="faEye"></fa-icon> Ver notas
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-edit" 
                            (click)="seleccionarEditar(estudiante, contentEdit)" style="width: fit-content;">
                            <fa-icon [icon]="faPenToSquare"></fa-icon> Editar
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-danger" 
                            (click)="seleccionarEliminar(estudiante, contentEliminar)" style="width: fit-content;">
                            <fa-icon [icon]="faTrashCan"></fa-icon> Eliminar
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="listaEstudiante.length == 0">
                        <td colspan="8">
                            <p style="text-align: center; font-size: x-large; color: red;">
                                {{"Lista vacia"}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" [class.disabled]="esPrimero">
                                        <a class="page-link" (click)="rebobinar(true)">Primero</a>
                                    </li>
                                    <li class="page-item" [class.disabled]="esPrimero">
                                        <a class="page-link" (click)="rebobinar()">Anterior</a>
                                    </li>
                                    <li class="page-item" *ngFor="let p of totalPaginas; let i = index"
                                        [ngClass]="{'active': i === pagina}">
                                        <a class="page-link" (click)="setearPagina(i)">{{ i + 1 }}</a>
                                    </li>
                                    <li class="page-item" [class.disabled]="esUltimo">
                                        <a class="page-link" (click)="avanzar()">Siguiente</a>
                                    </li>
                                    <li class="page-item" [class.disabled]="esUltimo">
                                        <a class="page-link" (click)="avanzar(true)">Ultimo</a>
                                    </li>
                                    &nbsp;&nbsp;
                                    <li class="page-item">
                                        <select class="custom-select" #cantidadP
                                            (change)="setearCantida(cantidadP.value)">
                                            <option value="5">{{ 5 }}</option>
                                            <option selected value="10">{{ 10 }}</option>
                                            <option value="15">{{ 15 }}</option>
                                            <option value="20">{{ 20 }}</option>
                                            <option value="25">{{ 25 }}</option>
                                        </select>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal agregar -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-tittle" id="modal-basic-tittle">Agregar Estudiante</h5>
        </div>
        <div class="modal-body">
            <form class="form-group was-validated" [formGroup]="agregarForm" novalidate>
                <div class="row">
                    <div class="col-12">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" formControlName="nombre" required [pattern]="regNombre">
                        <div class="invalid-feedback">Por favor ingrese o verifique el nombre</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Apellido:</label>
                        <input type="text" class="form-control" formControlName="apellido" required [pattern]="regNombre">
                        <div class="invalid-feedback">Por favor ingrese o verifique el apellido</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Correo:</label>
                        <input type="text" class="form-control" formControlName="correo" required [pattern]="regCorreo">
                        <div class="invalid-feedback">Por favor ingrese o verifique el correo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Contraseña:</label>
                        <input type="text" class="form-control" formControlName="contrasenia" required [pattern]="regPassword">
                        <div class="invalid-feedback">Por favor ingrese o verifique la contraseña</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="agregarEstudiante()"
                [disabled]="!agregarForm.valid"><fa-icon [icon]="faSave"></fa-icon> Guardar</button>
            <button type="button" class="btn btn-danger" (click)="resetearAgregarForm()">
                <fa-icon [icon]="faBan"></fa-icon> Cancelar</button>
        </div>
    </ng-template>

    <!-- Modal editar -->
    <ng-template #contentEdit let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-tittle" id="modal-basic-tittle">Editar Estudiante</h5>
        </div>
        <div class="modal-body">
            <form class="form-group was-validated" [formGroup]="editarForm" novalidate>
                <div class="row" hidden>
                    <div class="col-12">
                        <label>Id Estudiante:</label>
                        <input type="text" class="form-control" formControlName="idusuario">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" formControlName="nombre" required [pattern]="regNombre">
                        <div class="invalid-feedback">Por favor ingrese o verifique el nombre</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Apellido:</label>
                        <input type="text" class="form-control" formControlName="apellido" required [pattern]="regNombre">
                        <div class="invalid-feedback">Por favor ingrese o verifique el apellido</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Correo:</label>
                        <input type="text" class="form-control" formControlName="correo" required [pattern]="regCorreo">
                        <div class="invalid-feedback">Por favor ingrese o verifique el correo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Contraseña:</label>
                        <input type="text" class="form-control" formControlName="contrasenia" required [pattern]="regPassword">
                        <div class="invalid-feedback">Por favor ingrese o verifique la contraseña</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="editarEstudiante()"
                [disabled]="!editarForm.valid"><fa-icon [icon]="faSave"></fa-icon> Guardar</button>
            <button type="button" class="btn btn-danger" (click)="resetearEditarForm()">
                <fa-icon [icon]="faBan"></fa-icon> Cancelar</button>
        </div>
    </ng-template>

        <!-- Modal de Confirmación eliminar -->
    <ng-template #contentEliminar letc="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-tittle" id="modal-basi-tittle">Eliminar Estudiante</h5>
        </div>
        <div class="modal-body">
            <h6>¿Está seguro que desea eliminar el estudiante?</h6><br />
            <h6>Se eliminará el siguiente estudiante:<br />
                Nombre: {{ estudianteEliminar.nombre }} {{ estudianteEliminar.apellido }} <br>
                Correo: {{ estudianteEliminar.correo }}</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="eliminarEstudiante()">
                <fa-icon [icon]="faCircleCheck"></fa-icon> Confirmar</button>
            <button type="button" class="btn btn-danger" (click)="resetearEliminarForm()">
                <fa-icon [icon]="faBan"></fa-icon> Cancelar</button>
        </div>
    </ng-template>
</div>