<nav class="navbar navbar-dark bg-dark navbar-inverse">
    <div class="nav" style="margin: 3px;">
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item" role="presntation">
                <a class="nav-link logo" [routerLink]="['/']">
                    <fa-icon [icon]="faSchool"></fa-icon> &nbsp;Gestion de notas</a>
            </li>
            <li class="nav-item" role="presentation" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <button class="btn btn-primary" [routerLink]="['/inicio']">
                    <fa-icon [icon]="faHouse"></fa-icon> Inicio</button>
            </li>
            <li class="nav-item" role="presentation" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <button class="btn btn-primary" [routerLink]="['/profesor']">
                    <fa-icon [icon]="faPersonChalkboard"></fa-icon> Profesores</button>
            </li>
            <li class="nav-item" role="presentation" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <button class="btn btn-primary" [routerLink]="['/estudiante']">
                    <fa-icon [icon]="faGraduationCap"></fa-icon> Estudiantes</button>
            </li>
            <li class="nav-item" role="presentation" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <button class="btn btn-primary" [routerLink]="['/nota']">
                    <fa-icon [icon]="faNoteSticky"></fa-icon> Notas</button>
            </li>
            <li class="nav-item" role="presentation" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <button class="btn btn-primary" [routerLink]="['/asignatura']">
                    <fa-icon [icon]="faBook"></fa-icon> Asignaturas</button>
            </li>
        </ul>
    </div>
    <div>
        <button class="btn btn-primary" [routerLink]="['/login']" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">
            <fa-icon [icon]="faUserCheck"></fa-icon> Iniciar Sesión</button>
        <button class="btn btn-primary-sesion" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}" (click)="onLogOut()">
        Cerrar Sesión <fa-icon [icon]="faPerson"></fa-icon></button>
    </div>
</nav>