<app-navbar></app-navbar>
<div class="contenedor">

    <ngx-loading [show]="cargando"
        [config]="{ backdropBorderRadius: '3px', primaryColour: '#00ff66', secondaryColour: '#ff6600', tertiaryColour: '#6600ff', fullScreenBackdrop: true }">
    </ngx-loading>

    <div class="card">
        <div class="card-header">
            <h5>Busqueda Avanzada</h5>
        </div>
        <div class="card-body">
            <form class="form-group" [formGroup]="filtrarForm" class="was-validated">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" formControlName="nombre" [pattern]="regNombre"
                            placeholder="Ingrese el nombre a buscar">
                        <div class="invalid-feedback">Por favor verifique el nombre</div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <label>Apellido:</label>
                        <input type="text" class="form-control" formControlName="apellido" [pattern]="regNombre"
                            placeholder="Ingrese el apellido a buscar">
                        <div class="invalid-feedback">Por favor verifique el apellido</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-s-12 col-lg-6">
                        <button class="btn btn-primary" (click)="filtrar()" [disabled]="!filtrarForm.valid"><em
                                class="fa-solid fa-magnifying-glass"></em> Buscar</button>
                        &nbsp;
                        <button class="btn btn-secondary" (click)="limpiar()"><em class="fa-solid fa-eraser"></em>
                            Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Tabla del listado -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <h5 class="card-title">Lista de profesores</h5>
                </div>
                <div class="col-8">
                    <button type="button" class="btn btn-primary" (click)="open(content)" style="float: right;">
                        <em class="fa-solid fa-person-circle-plus"></em>&nbsp;Agregar Profesor</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-responsive" style="overflow-x: scroll;">
                <caption>Lista de profesores</caption>
                <thead class="thead-col">
                    <tr>
                        <th scope="col" style="max-width: 40px;" hidden>Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Funciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let profesor of listaProfesor">
                        <td>{{ profesor.nombre }} {{ profesor.apellido}}</td>
                        <td>{{ profesor.correo }}</td>
                        <td style="width: 25%;">{{ profesor.contrasenia }}</td>
                        <td style="width: 25%;">
                            <button type="button" class="btn btn-info" [hidden]="profesor.asignaturas.length == 0"
                                (click)="mostrarAsignaturas(profesor, contentAsignaturas)" style="width: fit-content;">
                                <em class="far fa-edit"></em> Ver asignaturas
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-edit"
                                (click)="seleccionarEditar(profesor, contentEdit)" style="width: fit-content;">
                                <em class="far fa-edit"></em> Editar
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-danger"
                                (click)="seleccionarEliminar(profesor, contentEliminar)" style="width: fit-content;">
                                <em class="fas fa-trash-alt"></em> Eliminar
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="listaProfesor.length == 0">
                        <td colspan="8">
                            <p style="text-align: center; font-size: x-large; color: red;">
                                {{"Lista vacia"}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" [class.disabled]="esPrimero">
                                        <a class="page-link" (click)="rebobinar(true)">Primero</a>
                                    </li>
                                    <li class="page-item" [class.disabled]="esPrimero">
                                        <a class="page-link" (click)="rebobinar()">Anterior</a>
                                    </li>
                                    <li class="page-item" *ngFor="let p of totalPaginas; let i = index"
                                        [ngClass]="{'active': i === pagina}">
                                        <a class="page-link" (click)="setearPagina(i)">{{ i + 1 }}</a>
                                    </li>
                                    <li class="page-item" [class.disabled]="esUltimo">
                                        <a class="page-link" (click)="avanzar()">Siguiente</a>
                                    </li>
                                    <li class="page-item" [class.disabled]="esUltimo">
                                        <a class="page-link" (click)="avanzar(true)">Ultimo</a>
                                    </li>
                                    &nbsp;&nbsp;
                                    <li class="page-item">
                                        <select class="custom-select" #cantidadP
                                            (change)="setearCantida(cantidadP.value)">
                                            <option value="5">{{ 5 }}</option>
                                            <option selected value="10">{{ 10 }}</option>
                                            <option value="15">{{ 15 }}</option>
                                            <option value="20">{{ 20 }}</option>
                                            <option value="25">{{ 25 }}</option>
                                        </select>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal agregar -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-tittle" id="modal-basic-tittle">Agregar Profesor</h5>
        </div>
        <div class="modal-body">
            <form class="form-group was-validated" [formGroup]="agregarForm" novalidate>
                <div class="row">
                    <div class="col-12">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" formControlName="nombre" required [pattern]="regNombre">
                        <div class="invalid-feedback">Por favor ingrese o verifique el nombre</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Apellido:</label>
                        <input type="text" class="form-control" formControlName="apellido" required
                            [pattern]="regNombre">
                        <div class="invalid-feedback">Por favor ingrese o verifique el apellido</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Correo:</label>
                        <input type="text" class="form-control" formControlName="correo" required [pattern]="regCorreo">
                        <div class="invalid-feedback">Por favor ingrese o verifique el correo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Contraseña:</label>
                        <input type="text" class="form-control" formControlName="contrasenia" required
                            [pattern]="regPassword">
                        <div class="invalid-feedback">Por favor ingrese o verifique la contraseña</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <label>Asignatura:</label>
                        <select class="form-control" formControlName="asignaturas">
                            <option selected value=''>{{ listaAsignaturas.length == 0 ? 'No hay asignaturas creadas':
                                'Seleccione una asignatura' }}</option>
                            <option class="option" *ngFor="let asignatura of listaAsignaturas; let i = index"
                                value="{{ i }}">
                                {{ asignatura.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label>&nbsp;</label><br>
                        <button type="button" class="btn btn-primary" style=" width: 10rem;"
                            (click)="agregarAsignatura()" [disabled]="agregarForm.controls['asignaturas'].value == ''">
                            <em class="fa-solid fa-plus"></em> Agregar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <label>Asignatura para agregar:</label>
                        <select class="form-control" formControlName="asignaturasAdd">
                            <option selected value=''>{{ listaAsignaturasAgregar.length == 0 ? 'No hay asignaturas para
                                agregar':
                                'Seleccione una asignatura' }}</option>
                            <option class="option" *ngFor="let asignatura of listaAsignaturasAgregar; let i = index"
                                value="{{ i }}">
                                {{ asignatura.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label>&nbsp;</label><br>
                        <button type="button" class="btn btn-danger" style=" width: 10rem;" (click)="quitarAsignatura()"
                            [disabled]="agregarForm.controls['asignaturasAdd'].value == ''">
                            <em class="fa-solid fa-plus"></em> Quitar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="agregarProfesor()"
                [disabled]="!agregarForm.valid"><em class="fa-regular fa-floppy-disk"></em> Guardar</button>
            <button type="button" class="btn btn-danger" (click)="resetearAgregarForm()">
                <em class="fa-solid fa-ban"></em> Cancelar</button>
        </div>
    </ng-template>

    <!-- Modal editar -->
    <ng-template #contentEdit let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-tittle" id="modal-basic-tittle">Editar Profesor</h5>
        </div>
        <div class="modal-body">
            <form class="form-group was-validated" [formGroup]="editarForm" novalidate>
                <div class="row" hidden>
                    <div class="col-12">
                        <label>Id Profesor:</label>
                        <input type="text" class="form-control" formControlName="idusuario">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" formControlName="nombre" required [pattern]="regNombre">
                        <div class="invalid-feedback">Por favor ingrese o verifique el nombre</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Apellido:</label>
                        <input type="text" class="form-control" formControlName="apellido" required
                            [pattern]="regNombre">
                        <div class="invalid-feedback">Por favor ingrese o verifique el apellido</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Correo:</label>
                        <input type="text" class="form-control" formControlName="correo" required [pattern]="regCorreo">
                        <div class="invalid-feedback">Por favor ingrese o verifique el correo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Contraseña:</label>
                        <input type="text" class="form-control" formControlName="contrasenia" required
                            [pattern]="regPassword">
                        <div class="invalid-feedback">Por favor ingrese o verifique la contraseña</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <label>Asignatura:</label>
                        <select class="form-control" formControlName="asignaturas">
                            <option selected value=''>{{ listaAsignaturas.length == 0 ? 'No hay asignaturas creadas':
                                'Seleccione una asignatura' }}</option>
                            <option class="option" *ngFor="let asignatura of listaAsignaturas; let i = index"
                                value="{{ i }}">
                                {{ asignatura.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label>&nbsp;</label><br>
                        <button type="button" class="btn btn-primary" style=" width: 10rem;"
                            (click)="agregarAsignaturaE()" [disabled]="editarForm.controls['asignaturas'].value == ''">
                            <em class="fa-solid fa-plus"></em> Agregar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <label>Asignatura para agregar:</label>
                        <select class="form-control" formControlName="asignaturasAdd">
                            <option selected value=''>{{ listaAsignaturasAgregar.length == 0 ? 'No hay asignaturas para
                                agregar':
                                'Seleccione una asignatura' }}</option>
                            <option class="option" *ngFor="let asignatura of listaAsignaturasAgregar; let i = index"
                                value="{{ i }}">
                                {{ asignatura.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label>&nbsp;</label><br>
                        <button type="button" class="btn btn-danger" style=" width: 10rem;"
                            (click)="quitarAsignaturaE()"
                            [disabled]="editarForm.controls['asignaturasAdd'].value == ''">
                            <em class="fa-solid fa-plus"></em> Quitar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="editarProfesor()" [disabled]="!editarForm.valid"><em
                    class="fa-regular fa-floppy-disk"></em> Guardar</button>
            <button type="button" class="btn btn-danger" (click)="resetearEditarForm()">
                <em class="fa-solid fa-ban"></em> Cancelar</button>
        </div>
    </ng-template>

    <!-- Modal de Confirmación eliminar -->
    <ng-template #contentEliminar letc="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-tittle" id="modal-basi-tittle">Eliminar Profesor</h5>
        </div>
        <div class="modal-body">
            <h6>¿Está seguro que desea eliminar El profesor?</h6><br />
            <h6>Se eliminará el siguiente profesor:<br />
                Nombre: {{ profesorEliminar.nombre }} {{ profesorEliminar.apellido }} <br>
                Correo: {{ profesorEliminar.correo }}</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="eliminarProfesor()"><em
                    class="fa-regular fa-circle-check"></em> Confirmar</button>
            <button type="button" class="btn btn-danger" (click)="resetearEliminarForm()"><em
                    class="fa-solid fa-ban"></em>
                Cancelar</button>
        </div>
    </ng-template>

    <!-- Modal de Mostara Asignaturas -->
    <ng-template #contentAsignaturas letc="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-tittle" id="modal-basi-tittle">Asignaturas del Profesor</h5>
        </div>
        <div class="modal-body">
            <h6>Lista de asignaturas del profesor</h6><br />
            <h6>{{ asignaturasProfesorV }}</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="resetearAsignaturasV()"><em
                    class="fa-regular fa-circle-check"></em> Confirmar</button>
            <button type="button" class="btn btn-danger" (click)="resetearAsignaturasV()"><em
                    class="fa-solid fa-ban"></em>
                Cancelar</button>
        </div>
    </ng-template>
</div>